.netflix-red {
  /* background-color: #e50914; */
  /* background-color: crimson; */
}
.netflix-black {
  background-color: black;
}

.navbar-dark {
  color: crimson;
}

.navbar-style .navbar-brand {
  color: crimson;
}

.navbar-style a {
  color: crimson;
}

.navbar-style a:hover {
  color: crimson;
}
.btn-whatever {
  color: crimson !important;
  border-color: crimson !important;
}
